*,*::before,*::after{
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body{
    margin:0;
}

.vidsect{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 3rem 1rem;
    padding: 3rem 0;
    margin: 0 1.5rem;
    border-top: 4px solid #ccc;
}

.vidsect:first-child{
    border-top: none ;
}

.vidcontain{
    display: flex;
    flex-direction: column;
}

.thumbnail{
    position: relative;
    display: flex;
}

.thumbnail::before{
    content: attr(duration);
    position: absolute;
    background-color: rgba(0,0,0,0.85);
    color: white;
    right: 5px;
    bottom: 5px;
    padding: .1em,.3em;
    border-radius: .3em;
    font-size: .9rem;
}

.image{
    width: 100%;
    height: 100%;
    min-width: 250px;
    min-height: 150px;
    background-color: #AAA;
}

.vidbottom{
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
}

.channel{
    margin-right: .75rem;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: #AAA;
}

.videotext{
    display: flex;
    flex-direction: column;
}

.vidtitle{
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: black;
}

.vidchannel{
    margin-bottom: 0.1rem;
    text-decoration: none;
    color: #555;
}

.vidchannel:hover{
    color: #111;
}

.vid-data{
    color: #555
}

.sectiontitle{
    grid-column: 1/-1;
    margin: -0.5rem 0;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0 .5rem;
}

.close{
    border: none;
    background: none;
    padding: 0;
    margin-left: auto;
    font-size: 2rem;
    color: #555;
    cursor: pointer;
}

.videoicons{
    background-color: #F9F9F9;
}

.category{
    padding: 1rem 2rem;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}

.catsection{
    display: flex;
    overflow: hidden;
}

.catbtn{
    margin: 1rem;
    word-wrap: none;
    white-space: nowrap;
    border: 1px solid #CCC;
    border-radius: 900px;
    background-color: #e7e7e7;
    padding: .5rem 1rem;
    font-size: inherit;
    cursor: pointer;
    transition: background-color 150ms;
}

.catbtn:hover{
    background-color: #DDD;
}

.catbtn.active{
    background-color: #606060;
    color: rgb(255, 255, 255);
    border-color: #EEE;
}

.catbtn:last-child{
    margin-right: 0;
}

.navs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    height: 80px;
}

.logos{
    height: 50px;
}

.search{
    display: flex;
    /* flex-grow: 0.8; */
    margin: 0 2rem 0 4rem;
    margin-right: 90px;
    height: 48px;
}

.searching{
    margin-left: 110px; 
    width: 480px;
    font-size: inherit;
    padding: .4em;
    border: 1px solid #777;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btnsearch{
    display: flex;
    align-items: center;
    padding: 0 1.25rem;
    border: 1px solid#777;
    background-color: #F8F8F8;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
}

.btnsearch:hover{
    background-color: #F0F0F0;
}

.menu{
    display: grid;
    grid-template-columns: repeat(5,auto);
    align-items: center;
    gap: 0.5rem;
    width: 36px;
    height: 36px;
    margin-right: auto;

}

